/* Haciendo estilos del css a mi pagina*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------HACIENDO GRID PARA EL INDEX-------------*/

.gridIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  align-items: center;
}
.imagenLogo img {
  width: 20%;
  margin-left: 30px;
}

.navbar ul {
  display: flex;
  margin: 20px 30px;
}

.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #181818;
  margin: 20px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "imagenesPrincipal imagenesPrincipal imagenesPrincipal "
    "imagenIzquierda imagenCentro imagenDerecha";
  gap: 20px;
  background-image: url(../assets/img/microsoft-project-scorpio-780x470.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.imagenesPrincipal {
  grid-area: imagenesPrincipal;
}
.imagenesPrincipal img {
  width: 100%;
}

.imagenTexto {
  position: relative;
  background-color: #d7bc45;
  width: 20%;
  font-size: 20px;
  margin-left: 550px;
  border-radius: 10px;
  opacity: 0.8;
  line-height: 2em;
}

.imagenIzquierda {
  grid-area: imagenIzquierda;
}
.imagenCentro {
  grid-area: imagenCentro;
}
.imagenDerecha {
  grid-area: imagenDerecha;
}
.imagenIzquierda,
.imagenCentro,
.imagenDerecha {
  background-color: #d7bc45;
  margin: 20px;
  border-radius: 20px 90px 1px;
  text-align: center;
  opacity: 0.8;
}

.imagen img {
  width: 60%;
}

.text p {
  text-align: center;
  margin-bottom: 10%;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  text-align: center;
}

.imagenPie img {
  margin-top: 20px;
  width: 30%;
}

.palabrasPie a {
  text-decoration: none;
  color: #181818;
  margin: 20px;
}

.infoExtras {
  display: flex;
  margin: auto;
  padding: 20px;
}

.infoRedes i {
  width: 50px;
  margin-top: 50px;
  text-align: center;
}
/*media queries para iNDEX*/

@media only screen and (max-width: 768px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  /*VISTA MOBILE PARA HEADER(GENERAL) */

  header {
    grid-area: header;
    display: block;
  }
  header .imagenLogo img {
    text-align: center;
    width: 10%;
  }
  header .navbar {
    align-items: center;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .imagenIzquierda,
  .imagenCentro,
  .imagenDerecha {
    width: 500px;
    margin: auto;
  }
  /* VISTA MOBILE PARA FOOTER(GENERAL) */
  footer {
    grid-area: footer;
    display: flex;
  }

  .infoExtras a {
    display: none;
  }

  .infoRedes {
    display: flex;
    margin: 12px;
  }
}

/*---------------------------------------------------*/

/*Haciendo el grid para HISTORIA(SEGUNDA PAGINA)*/

.gridHistoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;
  grid-template-areas:
    "historia img"
    "historiaChina videoChina";
  background-image: url(../assets/img/microsoft-project-scorpio-780x470.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.historia {
  grid-area: historia;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: #d7bc45;
  border-radius: 20px 90px 1px;
  height: 200px;
  opacity: 0.8;
}
.historia p {
  margin-top: 40px;
  margin-right: 14px;
}

.gridHistoria img {
  width: 50%;
  margin-top: 20px;
}

.historiaChina {
  grid-area: historiaChina;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
  background-color: #d7bc45;
  border-radius: 20px 90px 1px;
  height: 200px;
  opacity: 0.8;
}
.historiaChina p {
  margin-top: 40px;
  margin-right: 14px;
}
.videoChina {
  grid-area: videoChina;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*media queries para HISTORIA*/

@media only screen and (max-width: 768px) {
  .gridHistoria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "imagenHistoria"
      "historia"
      "videoChina"
      "historiaChina";
  }
  .historia {
    grid-area: historia;
  }
  .imagenHistoria {
    grid-area: imagenHistoria;
    margin: auto;
  }
  .historiaChina {
    grid-area: historiaChina;
    margin-bottom: 10px;
  }
  .videoChina {
    grid-area: videoChina;
    margin: auto;
  }
}

/*haciendo mi GRID para la tercera pagina (PRODUCTOS) */

.gridProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "tituloPrincipal tituloPrincipal tituloPrincipal tituloPrincipal"
    "imagenesProcesadoras1 imagenesProcesadoras2  imagenesProcesadoras3 imagenesProcesadoras4 "
    "tituloGrafi tituloGrafi tituloGrafi tituloGrafi"
    "imagenesGraficas1 imagenesGraficas2  imagenesGraficas3 imagenesGraficas4";
  gap: 30px;
  background-image: url(../assets/img/microsoft-project-scorpio-780x470.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.tituloPrincipal {
  grid-area: tituloPrincipal;
}
.imagenesProcesadoras1 {
  grid-area: imagenesProcesadoras1;
}
.imagenesProcesadoras2 {
  grid-area: imagenesProcesadoras2;
}
.imagenesProcesadoras3 {
  grid-area: imagenesProcesadoras3;
}
.imaganesProcesadoras4 {
  grid-area: imagenesProcesadoras4;
}

.imagenesProcesadoras1,
.imagenesProcesadoras2,
.imagenesProcesadoras3,
.imagenesProcesadoras4 {
  background-color: #d7bc45;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.8;
}
.tituloGrafi {
  grid-area: tituloGrafi;
}
.imagenesGraficas1 {
  grid-area: imagenesGraficas1;
}
.imagenesGraficas2 {
  grid-area: imagenesGraficas2;
}
.imagenesGraficas3 {
  grid-area: imagenesGraficas3;
}
.imagenesGraficas4 {
  grid-area: imagenesGraficas4;
}

.imagenesGraficas1,
.imagenesGraficas2,
.imagenesGraficas3,
.imagenesGraficas4 {
  background-color: #d7bc45;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  opacity: 0.8;
}
.gridProductos img {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 340px;
}

.textos span {
  padding: 70px;
}

/*VISTA MOBILE PARA PROUDCTOS(TERCERA PAGINA)*/
@media only screen and (max-width: 768px) {
  .gridProductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
      "tituloPrincipal "
      "imagenesProcesadoras1"
      "imagenesProcesadoras2"
      "imagenesProcesadoras3"
      "imagenesProcesadoras4"
      "tituloGrafi"
      "imagenesGraficas1"
      "imagenesGraficas2"
      "imagenesGraficas3"
      "imagenesGraficas4";
  }
  .tituloPrincipal {
    grid-area: tituloPrincipal;
  }
  .imagenesProcesadoras1 {
    grid-area: imagenesProcesadoras1;
  }
  .imagenesProcesadoras2 {
    grid-area: imagenesProcesadoras2;
  }
  .imagenesProcesadoras3 {
    grid-area: imagenesProcesadoras3;
  }
  .imaganesProcesadoras4 {
    grid-area: imagenesProcesadoras4;
  }
  .imagenesProcesadoras1,
  .imagenesProcesadoras2,
  .imagenesProcesadoras3,
  .imagenesProcesadoras4 {
    width: 750px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px 45px 1px;
    text-align: center;
  }

  .tituloGrafi {
    grid-area: tituloGrafi;
  }
  .imagenesGraficas1 {
    grid-area: imagenesGraficas1;
  }
  .imagenesGraficas2 {
    grid-area: imagenesGraficas2;
  }
  .imagenesGraficas3 {
    grid-area: imagenesGraficas3;
  }
  .imagenesGraficas4 {
    grid-area: imagenesGraficas4;
  }

  .imagenesGraficas1,
  .imagenesGraficas2,
  .imagenesGraficas3,
  .imagenesGraficas4 {
    width: 750px;
    margin: auto;
    margin-bottom: 10px;
  }
  .imagenesGraficas1,
  .imagenesGraficas2,
  .imagenesGraficas3,
  .imagenesGraficas4 sapn {
    text-align: center;
    font-size: 90%;
  }
}

/* haciendo el grid para mi GALERIA(4ta pagina)*/
.gridGaleria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "galeriaTexto galeriaTexto galeriaTexto galeriaTexto"
    "imagenesGaleria1 imagenesGaleria2 imagenesGaleria3 imagenesGaleria4"
    "videoTexto videoTexto videoTexto videoTexto"
    "videoPrincipal videoPrincipal  videoPrincipal videoPrincipal";
}
.galeriaTexto {
  grid-area: galeriaTexto;
  color: white;
  background-color: #d7bc45;
  opacity: 0.9;
  width: 200px;
}

.imagenesGaleria1 {
  grid-area: imagenesGaleria1;
}
.imagenesGaleria2 {
  grid-area: imagenesGaleria2;
}
.imagenesGaleria3 {
  grid-area: imagenesGaleria3;
}
.imagenesGaleria4 {
  grid-area: imagenesGaleria4;
}

.imagenesGaleria1,
.imagenesGaleria2,
.imagenesGaleria3,
.imagenesGaleria4 {
  background-color: #d7bc45;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.8;
  margin-right: 20px;
}

.gridGaleria img {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 340px;
}
.videoTexto {
  grid-area: videoTexto;
}
.videoText h2 {
  margin-top: 20px;
}

.videoPrincipal {
  grid-area: videoPrincipal;
}

